<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>DNS Server</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
  <div class="container vh-100">
    <div class="row justify-content-center h-100">
      <div class="card w-25 my-auto shadow">
        <div class="card-header text-center bg-primary text-white">
          <h2>Enter Your Domain</h2>
        </div>
        <div class="card-body">
          <form  method="post" action="recursive/">
            {%csrf_token%}
            <div class="form-group">
              <label for="domain">Domain</label>
              <input type="domain" id="domain" class="form-control" name="domain" />
            </div>
              <input type="submit" class="btn btn-primary w-100" value="Recursive DNS Query" name="">

            <p></p>
            <!--input type="submit" class="btn btn-primary w-100" value="Iterative DNS Query" name="domain"-->
          </form>
          <form  method="post" action="iterative/">
            {%csrf_token%}
            <div class="form-group">
              <label for="domain">Domain</label>
              <input type="domain" id="domain" class="form-control" name="domain" />
            </div>
              <input type="submit" class="btn btn-primary w-100" value="Iterative DNS Query" name="">

            <p></p>
            <!--input type="submit" class="btn btn-primary w-100" value="Iterative DNS Query" name="domain"-->
          </form>
        </div>
        <div class="card-footer text-right">
          <small>&copy; DBS Project</small>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
